<div class="add-account-btn-wrapper">
    <button
        (click)="openModal()"
        nz-button
        nzType="dashed">
        <i nz-icon theme="outline" type="plus"></i>
        <span *ngIf="!collapsedService.isCollapsed">
            新建账本
          </span>
    </button>
</div>
<nz-modal [(nzVisible)]="isVisible"
          (nzOnCancel)="closeModal()"
          [nzTitle]="modalTitle"
          [nzContent]="modalContent"
          [nzFooter]="modalFooter">
    <ng-template #modalTitle>
        新建账本
    </ng-template>

    <ng-template #modalContent>
        <div class="input">
            <nz-input-group [nzPrefix]="prefixTemplate">
                <input type="text" nz-input placeholder="输入账本名" [(ngModel)]="accountName">
            </nz-input-group>
            <ng-template #prefixTemplate>
                <i nz-icon type="user"></i>
            </ng-template>
        </div>

        <div class="input">
            <nz-input-group [nzPrefix]="prefixTemplate">
                <input type="text" nz-input placeholder="输入预算" [(ngModel)]="budge">
            </nz-input-group>
            <ng-template #prefixTemplate><i nz-icon type="user"></i></ng-template>
        </div>
    </ng-template>

    <ng-template #modalFooter>
        <button nz-button nzType="default" (click)="closeModal()">取消</button>
        <button nz-button nzType="primary" [nzLoading]="loading" (click)="onSubmit()">确定</button>
    </ng-template>
</nz-modal>
