.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    border-top: 1px solid rgb(232, 232, 232);
    padding: 10px 16px;
    text-align: right;
    left: 0;
    background: #fff;
}

.col {
    margin-bottom: 20px;
}
