<ul [nzInlineCollapsed]="collapsedService.isCollapsed" [nzMode]="'inline'" [nzTheme]="'light'" nz-menu>
    <li nz-submenu>
    <span title>
      <i nz-icon theme="outline" type="pie-chart"></i>
      <span class="nav-text">统计</span>
    </span>
        <ul>
            <li [routerLink]="'statistic'" nz-menu-item>我的报表</li>
        </ul>
    </li>
    <li nz-submenu>
    <span title>
      <i nz-icon theme="outline" type="form"></i>
      <span class="nav-text">账本</span>
    </span>
        <ul *ngIf="!mobileService.isMobile">
            <li *ngFor="let account of accountList"
                [nzContent]="template"
                [nzTitle]="account.accountName"
                [queryParams]="{accountName: account.accountName}"
                [routerLink]="['account', account.accountID]"
                nz-menu-item
                nz-popover
                nzPlacement="right">
                {{account.accountName}}
                <ng-template #template>
                    <p>总计: {{account.sum}} 元</p>
                    <p>创建时间: {{account.createdTime.toLocaleString()}}</p>
                    <p>修改时间: {{account.lastModifiedTime.toLocaleString()}}</p>
                </ng-template>
            </li>
        </ul>
        <ul *ngIf="mobileService.isMobile">
            <li *ngFor="let account of accountList"
                [queryParams]="{accountName: account.accountName}"
                [routerLink]="['account', account.accountID]"
                nz-menu-item>
                {{account.accountName}}
            </li>
        </ul>
    </li>
</ul>
<app-add-account-button></app-add-account-button>
