<div
    [ngStyle]="style"
    class="search-input">

    <nz-input-group [nzPrefix]="prefix">
        <input
            (input)="onInput($event.target?.value)"
            [(ngModel)]="inputValue"
            [nzAutocomplete]="auto"
            [nzSize]="'large'"
            nz-input
            placeholder="搜索账本">
    </nz-input-group>

    <nz-autocomplete #auto nzBackfill>
        <nz-auto-option
            *ngFor="let option of options"
            [nzValue]="option.accountName"
            [queryParams]="{accountName: option.accountName}"
            [routerLink]="['account', option.accountID]">
            {{option.accountName}}
        </nz-auto-option>
    </nz-autocomplete>
    <ng-template #prefix>
        <i nz-icon theme="outline" type="search"></i>
    </ng-template>
</div>
