<div class="header-row">
    <div [class.isCollapse]="collapsedService.isCollapsed"
         [class.isMobile]="mobileService.isMobile"
         class="logo">
        <img src="assets/img/logo.jpg">

        <span *ngIf="!mobileService.isMobile && !collapsedService.isCollapsed"
              class="logo-text">有矿记账</span>
    </div>

    <div
        class="trigger">
        <button
            (click)="collapsedService.changeCollapsed()" nz-button
            nzType="primary">
            <i [type]="collapsedService.isCollapsed ? 'menu-unfold' : 'menu-fold'" nz-icon></i>
        </button>
    </div>

    <div
        *ngIf="mobileService.isMobile"
        class="search-button">
        <nz-dropdown
            [nzClickHide]="false"
            [nzTrigger]="'click'">
            <button
                nz-button
                nz-dropdown
                nzType="primary">
                <i nz-icon style="font-size: 15px" type="search"></i>
            </button>
            <ul nz-menu>
                <li nz-menu-item>
                    <app-search></app-search>
                </li>
            </ul>
        </nz-dropdown>

    </div>

    <div class="userInfo">
        <nz-avatar [nzSize]="64" nzIcon="user"></nz-avatar>
        <span
            *ngIf="!mobileService.isMobile"
            class="user-name-text">{{userInfo.userName}}</span>
    </div>

    <app-search
        *ngIf="!mobileService.isMobile"
        class="search"></app-search>
</div>
