<div class="header-row">
    <div [class.isCollapse]="collapsedService.isCollapsed"
         [class.isMobile]="mobileService.isMobile"
         class="logo">
        <img src="assets/img/logo.jpg">

        <span *ngIf="!mobileService.isMobile && !collapsedService.isCollapsed"
              class="logo-text">有矿记账</span>
    </div>

    <div
        class="trigger">
        <button
            (click)="collapsedService.changeCollapsed()" nz-button
            nzType="primary">
            <i [type]="collapsedService.isCollapsed ? 'menu-unfold' : 'menu-fold'" nz-icon></i>
        </button>

    </div>

    <div class="userInfo">
        <img src="assets/img/logo.jpg">
        <span
            *ngIf="!mobileService.isMobile"
            class="user-name-text">{{userInfo.userName}}</span>
    </div>
</div>
