.header-row {
    display: block;
}

.trigger {
    display: inline-block;
    margin-left: 20px;
}

.userInfo {
    display: inline-block;
    float: right;
    margin-right: 20px;
}

.user-name-text {
    color: white;
    margin-left: 10px;
    font-size: 15px;
}

.logo img {
    width: 50px;
    border-radius: 50%;
}

.logo {
    display: inline-block;
    height: 64px;
    width: 200px;
    text-align: center;
    color: rgb(255, 255, 255);
}

.logo.isCollapse {
    text-align: center;
    width: 80px;
}

.logo.isMobile {
    width: 64px;
}

.logo-text {
    vertical-align: middle;
    overflow: hidden;
    font-size: 23px;
    text-align: center;
    margin-left: 15px;
}

.img-wrapper {
    display: inline-block;
    width: 64px;
    text-align: center;
}

.search-button {
    display: inline-block;
    margin-left: 20px;
}

.search {
    float: right;
    margin-right: 50px;
}


