<nz-breadcrumb style="margin:16px 0;">
    <nz-breadcrumb-item>账单</nz-breadcrumb-item>
    <nz-breadcrumb-item>{{accountName}}</nz-breadcrumb-item>
</nz-breadcrumb>

<div class="statistics-row">
    <div nz-row nzType="flex" nzJustify="space-around">
        <div class="col" nz-col [nzLg]="{span: 5, offset: 0}" [nzXs]="{span: 24, offset:0}">
            <nz-card
                [nzHoverable]=true
                [nzBodyStyle]="{'background': 'rgb(250, 140, 22)'}"
                [nzLoading]="loading.isLoading"
                nzTitle="净收入">

                <h1>{{incomeSum - costSum}} <i nz-icon type="pay-circle" theme="outline"></i></h1>
            </nz-card>
        </div>
        <div class="col" nz-col [nzLg]="{span: 5, offset: 0}" [nzXs]="{span: 24, offset:0}">
            <nz-card
                [nzHoverable]=true
                [nzBodyStyle]="{'background': 'rgb(235, 47, 150)'}"
                [nzLoading]="loading.isLoading"
                nzTitle="支出">
                <h1>{{costSum}}<i nz-icon type="pay-circle" theme="outline"></i></h1>
            </nz-card>
        </div>
        <div class="col" nz-col [nzLg]="{span: 5, offset: 0}" [nzXs]="{span: 24, offset:0}">
            <nz-card
                [nzHoverable]=true
                [nzBodyStyle]="{'background': 'rgb(82, 196, 26)'}"
                [nzLoading]="loading.isLoading"
                nzTitle="收入">
                <h1>{{incomeSum}}<i nz-icon type="pay-circle" theme="outline"></i></h1>
            </nz-card>
        </div>
    </div>


    <!--todo: 移动端表格-->
    <div nz-row>
        <div nz-col class="col">
            <nz-table
                *ngIf="!mobileService.isMobile"
                #tableData
                [nzData]="accountItemList"
                [nzPageSize]="5"
                [nzLoading]="loading.isLoading">
                <thead nzSingleSort>
                <tr>
                    <th nzShowCheckbox></th>
                    <th nzShowFilter>支出/收入</th>
                    <th>记录类型</th>
                    <th nzShowFilter nzShowSort>金额</th>
                    <th nzShowSort>时间</th>
                    <th>备注</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let item of tableData.data">
                    <ng-container *ngIf="!item.isToDelete">
                        <td nzShowCheckbox [(nzChecked)]="item.checked"></td>
                        <td>{{item.In_Out}}</td>
                        <td>{{item.Type}}</td>
                        <td>{{item.Money}}</td>
                        <td>{{item.Time.toLocaleString()}}</td>
                        <td>{{item.Tip}}</td>
                    </ng-container>
                </tr>
                </tbody>
            </nz-table>
            <nz-table *ngIf="mobileService.isMobile"
                      #tableData
                      [nzData]="accountItemList"
                      [nzPageSize]="5"
                      [nzLoading]="loading.isLoading">
                <thead nzSingleSort>
                <tr>
                    <th nzShowCheckbox></th>
                    <th>记录类型</th>
                    <th nzShowFilter nzShowSort>金额</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let item of tableData.data">
                    <ng-container
                        *ngIf="!item.isDeleted">
                        <td nzShowCheckbox [(nzChecked)]="item.checked"></td>
                        <td>{{item.Type}}</td>
                        <td (click)="createNotification(item.Type, item.Money, item.Time, item.Tip)">
                            {{item.Money}}
                        </td>
                    </ng-container>
                </tr>
                </tbody>
            </nz-table>
        </div>
    </div>

    <app-update-account></app-update-account>
</div>
